{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">
        <label class="form-label mx-auto w-auto">Symbol
            <select autofocus class="form-select mx-auto w-auto" name="symbol">
                <option disabled selected>Please select</option>
                {% for symbol in symbols %}
                <option value="{{symbol.stock_symbol}}">{{symbol.stock_symbol}}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}